*{
    margin: 0px;
    padding: 0px;
}


a {
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    color: black;
}
li{
    list-style: none;
    
}
h1{
    font-size: 24px;
    text-align: center;
}

h3 {
    font-size: 16px;
    font-family: 'Abyssinica SIL', serif;
    letter-spacing: 1px;
}


.boton-categoria{
    position: sticky;
    gap: 30px;
}
.portada__titulo {
    font-size: 30px;
    text-align: center;
    font-family: 'Abyssinica SIL', serif;
    letter-spacing: 3px;
    margin-top: 10px;
}

.portada__imagen h2 {
    text-align: center;
    font-family: Arial Black;
    font-weight: bold;
    font-size: 30px;
    background: #202020;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 3px 3px rgb(255 255 255 / 40%), 0px -1px 1px rgb(0 0 0 / 30%);
}

aside{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.titulo{
    text-align: center;
}




.contenido{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
text-align: center;
margin-bottom: 20px;
}

.producto-titulo{
    font-size: 16px;
}

.iconos__redes{
    width: 70px;
    height: 50px;
}


.carousel-tamanio{
    height: 80vh;
}

.carousel-boton{
    width: 100px;
    height: 70px;
    background-color: white;
    color: black;
    border: none;
    border-color: gray;
}


.navbar{
    background-color: white;

}

.carrito-prod-titulos{
display: grid;
}

.productos-agregar{
    width: 200px;
}
footer{
    background-color: rgb(225, 229, 242);
    
}

.productos-imagen{
    width: 150px;
    height: 150px;

}


main{
    background-color: white;
    
}



.boton-filtro{
    font-size: 16px;
    background-color: transparent;
    color: black;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    border: none;
    padding: 20px;

}

.boton-carrito{
    font-size: 20px;
    background-color: transparent;
    color: gray;
    display: flex;
    align-items: flex-end;
    width: 100%;
    gap: 10px;
    border: none;
    padding: 20px;

}


.boton-filtro.active{
    font-size: 20px;
    text-decoration: underline;
    position: relative;
    
}

.boton-filtro.active::before{
    content: '';
    position: absolute;
    width: 1rem;
    bottom: 100%;
    background-color: transparent;

}

.carrito-producto{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 20px;
    padding: 16px;
}


.boton-filtro.active::after{
    content: '';
    position: absolute;
    background-color: transparent;
}

.container-carrito{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
    text-align: center;
}

.carrito-productos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.disabled{
    display: none;
}

.carrito-prod-eliminar{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.carrito-producto{
    display: flex;
    justify-content: space-between;

}
.carrito-prod-imagen{
    width: 200px;

}

.carrito-botones{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.carrito-vaciar{
    width: 100px;
    height: 50px;
    border: 0;
    padding: 16px;
    text-transform: uppercase;
    margin-top: 20px;

}

.carrito-compra{
    width: 100px;
    height: 50px;
    border: 0;
    padding: 16px;
    text-transform: uppercase;
    margin-top: 20px;

}



.carrito-botones-total{
    display: flex;
    justify-content: space-between;
}

.newsletter-modal{
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.newsletter-bg{
    width: 50%;
    margin: 100px auto;
    text-align: center;
}

form h2{
    color: gray;
}

.form-group input{
    width: 60%;
}

